audioread==3.0.1
certifi==2025.4.26
cffi==1.15.1
charset-normalizer==3.4.2
colorama==0.4.6
Cython==3.0.12
decorator==5.1.1
idna==3.10
importlib-metadata==6.7.0
joblib==1.3.2
lazy_loader==0.4
librosa==0.10.2.post1
llvmlite==0.39.1
msgpack==1.0.5
numba==0.56.4
numpy==1.21.6
packaging==24.0
pi==0.1.2
platformdirs==4.0.0
pooch==1.8.2
pycparser==2.21
pysptk==1.0.1
pyworld==0.3.5
requests==2.31.0
scikit-learn==1.0.2
scipy==1.7.3
soundfile==0.13.1
soxr==0.3.7
threadpoolctl==3.1.0
torch==1.13.1
tqdm==4.67.1
typing_extensions==4.7.1
urllib3==2.0.7
zipp==3.15.0
